@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #121212;
}

.nav-bar{
    font-weight: 700;
    background-color: #332940;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-box-1{
    color: white;
    align-items: flex-start;
}

/*Links in nav-bar*/
.nav-box-2 > a{
    color: white;
    align-items: center;
    justify-content: space-evenly;
}