@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container{
    margin-bottom: 50px;
}

/* Source: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
.card-img-top{
    width: 100%;
    height: 17vw;
    object-fit: cover;
}