@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html, body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.banner{
    font-weight: 700;
    position: relative;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.nav-bar, .nav-bar > li{
    display: inline-flex;
    align-items: center;
}

.nav-bar > li > a {
    color: black;
}

#nav-name{
    position: absolute;
    left: 0;
    display: inline;
    align-self: center;
}