@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html, body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.banner{
    font-weight: 700;
    font-size: 20px;
    position: relative;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 20px;
}

.nav-bar, .nav-bar > li{
    display: inline-flex;
    align-items: center;
}

.nav-bar > li > a {
    padding-left: 20px;
}

#nav-name{
    position: absolute;
    left: 0;
    display: inline;
    align-self: center;
}

.main-landing{
    padding-top: 8%;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.introduction{
    align-content: flex-start;
    max-width: 80%;
    min-width: 55%;
}

a{
    color: black;
    text-decoration: none;
}

.link-box{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}

.link-box:hover, .link-box:hover > a{
    background-color: rgb(106, 170, 106);
    color: rgb(49, 78, 49);
}

.project-list{
    display: flex;
    flex-direction: column;
    padding-top: 4%;
}

.project{
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
}
.project > img{
    width: 30%;
    height: 30%;
    padding: 0 30px 60px 0;
}

h1{
    font-size: 36px;
    width: 50%;
}

p{
    font-size: 20px;
    min-width: 60%;
    max-width: 85%;
}