@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@spacer: 50px;

.badge-color(){
    background-color: #6C757D!important;
}
.badge-color(@color){
    background-color: @color!important;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

#introduction{
    margin-top: @spacer * 3;
}

.container{
    margin-bottom: @spacer;
}
.card{
    background-color: #37374417;
    /* Source: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
    .card-img-top{
        width: 100%;
        height: 17vw;
        object-fit: cover;
    }

    .card-body{
        border-top: 1px;
        border-top-style: solid;
        border-color: lightgray;
    }

    .card-subtitle{
        font-style: italic;
    }
}


#infoAccordion {
    width: 100%;
}

.accordion-button{
    font-weight: 700;
}

#footer-container{
    color: #fff;
    margin-bottom: 0px;
    padding: 5px 0 5px 25px;
}

.unity{
    .badge-color();
}

.csharp{
    .badge-color(rgb(120, 50, 150));
}

.java{
    .badge-color(goldenrod);
}

.css-badge{
    .badge-color(rgb(4, 58, 206));
}

/* starting at large tablets and small laptops, accordion should be smaller than full screen */
@media only screen and (min-width: 1024px){ 
    #infoAccordion{
        width: 40%;
    }
}